*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/8/a/8a0cd6ad33ef7e1013171a75784d31190d2c47d2
/.idea/sonarlint/issuestore/8/0/80d2af7c9c4d3a2cb2e3b512d557b403eb490351
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/studiobot.xml
