<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"

        android:fullBackupContent="false"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBalance"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mybalance.accounts.AccountEditor" />
        <activity android:name="com.example.mybalance.income.IncomeEditor" />
        <activity android:name="com.example.mybalance.expenses.ExpensesEditor" />
        <activity android:name="com.example.mybalance.settings.Settings_editor" />
        <activity android:name="com.example.mybalance.accounts.AccountsEditor" />
        <activity android:name="com.example.mybalance.types.TypesEditorActivity" />

    </application>

</manifest>

    <!-- android:fullBackupContent="@xml/backup_rules" -->
    <!-- android:enableOnBackInvokedCallback="true" -->